<!-- templates/lab_9/partials/header.html -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-10:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
     <!--  <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-9:cookie_login' %}">Cookies</a></li>
      </ul> -->
      {% if connected %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'lab-10:auth_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
      {% endif %}
    <!--/.nav-collapse -->
  </div>
  </div>
</nav>
