{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1 style="display:inline">{{ movie.title }}  </h1><h3 style="display:inline">({{ movie.year }})</h3>
                    <p> {{ movie.rated }} | {{ movie.runtime }} | {{ movie.genre }}
                     | {{ movie.released }} ({{ movie.country }})</p>
                </div>
                <div class="panel-body">
                    <div class="clearfix">
                        <div id="poster"><img src="{{ movie.poster }}"></img></div>
                        <div class="clearfix details">
                            <div class="clearfix details box" style="text-align: right; float: left;">
                                {% if added %}
                                <button class="btn btn-success"> Added to Watch Later </button>
                                {% else %}
                                <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
                                {% endif %}
                            </div>
                            <div class="clearfix details text">
                                <p>{{ movie.plot }}</p>
                                <p>
                                    <b>Director</b>: {{ movie.director }}<br>
                                    <b>Writer</b>: {{ movie.writer }}<br>
                                    <b>Stars</b>: {{ movie.actors }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
