{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    {% for movie in watch_later_movies %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 style="display:inline">{{ movie.title }}  </h1><h3 style="display:inline">({{ movie.year }})</h3>
            <p> {{ movie.rated }} | {{ movie.runtime }} | {{ movie.genre }}
             | {{ movie.released }} ({{ movie.country }})</p>
        </div>
        <div class="panel-body">
            <div class="clearfix">
                <div id="poster">
                	{% if movie.poster|safe == 'N/A' %}
                	<img src="http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg"></img>
                	{% else %}
                	<img src="{{ movie.poster }}"></img>
                	{% endif %}
                </div>
                <div class="clearfix details">
                    <div class="clearfix details box" style="text-align: right; float: left;">
                        <button class="btn btn-success"> Added to Watch Later </button>
                    </div>
                    <div class="clearfix details text">
                    	{% if movie.plot|safe != 'N/A' %}
                        <p>{{ movie.plot }}</p>
                        {% else %}
                        <p>Description is not available.</p>
                        {% endif %}
                        <p>
                            <b>Director</b>: {{ movie.director }}<br>
                            <b>Writer</b>: {{ movie.writer }}<br>
                            <b>Stars</b>: {{ movie.actors }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
