body{
   margin-top: 70px;
   background-color: #dfe3ee;
}
/* Custom navbar style */
.navbar-static-top {
	
}
.navbar-inverse .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

.profile {
	
}

img.cover {
    margin-left: auto;
    margin-right: auto;
	width: 100%;
}

.profile .picture {
	
}

.feed {
	margin: 20px auto 20px auto;
    width: 100%;
	background-color: white;
    padding: 10px;
	word-wrap: break-word;
}