{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
			$.ajax({
                method: "GET",
                url: "{% url "lab-7:get-friend-list" %}",
                success: function (response) {
					friend_list = response.results;
					for(friend in friend_list) {
						obj = friend_list[friend]
						html = '<a class="list-group-item clearfix" id='+ obj.id + '>' +
							obj.friend_name + ' (' + obj.npm + ')' + 
							'<span class="pull-right">' +
							'<span class="btn btn-xs btn-default" onClick="deleteFriend(' + obj.id + ')">'
                            + 'Hapus teman' + '</span></a>';
						$("#friend-list").append(html)
					}
                },
                error: function(error){
                    alert("error")
                }
            });
        });
		
		var deleteFriend = function(obj_id) {
			url = '{% url "lab-7:delete-friend" 0 %}'.replace('0', obj_id);
			$.ajax({
				method: "POST",
				url: url,
				data: {friend_id:obj_id},
				success : function (response) {
					filter = "#" + obj_id
					$(".list-group-item").remove(filter)
				},
				error : function (error) {
					alert("error")
				}
			});
		};
    </script>
{% endblock %}
