{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="mahasiswa-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
				<div class="btn-group">
					{% if previous %}
					<span class="btn btn-xs btn-default" onClick="prevFunc()">Previous</span>
					{% else %}
					<span class="btn btn-xs btn-default disabled" onClick="prevFunc()">Previous</span>
					{% endif %}
					<span class="btn btn-xs btn-default" onClick="nextFunc()">Next</span>
				</div>
				<div class="list-group" id="mahasiswa-list">
                    {% if mahasiswa_list %}
                        {% for mahasiswa in mahasiswa_list %}
                            <a class="list-group-item clearfix">
                                {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                <span class="pull-right">
                        <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                            Tambah sebagai teman
                        </span>
                    </span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada mahasiswa
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                    {% else %}
                        <div id="alert-friend" class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
	localStorage.nextPage = "{{ next }}";
	localStorage.previousPage = "{{ previous }}";
	
    var addFriend = function(nama, npm) {
        $.ajax({
            method: "POST",
            url: "{% url "lab-7:add-friend" %}",
            data: { name: nama, npm: npm},
            success : function (friend) {
			    friend = JSON.parse(friend)
                html = '<a class="list-group-item clearfix">' +
                    friend.friend_name + ' (' + friend.npm + ')'
                    '</a>';
                $("#friend-list").append(html)
				$("#alert-friend").remove()
            },
            error : function (error) {
                alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };
	
	var update_mahasiswa = function(page) {
		url = '{% url "lab-7:get-mahasiswa-list" 0 %}'.replace('0', page);
		$.ajax({
			method: "GET",
			url: url,
			success: function (response) {
				mahasiswa_list = response.mahasiswa_list
				html = ""
				for(mahasiswa in mahasiswa_list) {
					obj = mahasiswa_list[mahasiswa]
					html = html + '<a class="list-group-item clearfix">' + obj.nama + 
						' (' + obj.npm + ')' + '<span class="pull-right">' + 
                        '<span class="btn btn-xs btn-default" onClick="addFriend(' 
						+ obj.nama + ', ' + obj.npm + ')">Tambah sebagai teman</span></span></a>'
				}
				$("#mahasiswa-list").html(html)
			},
			error: function (error) {
				alert('error next')
			}
		});
	};
	
	var update_pagination = function() {
		next = localStorage.nextPage;
		previous = localStorage.previousPage;
		html = '';
		
		if(previous != 0) {
			html = html + '<span class="btn btn-xs btn-default" onClick="prevFunc()">Previous</span>'
		} else {
			html = html + '<span class="btn btn-xs btn-default disabled" onClick="prevFunc()">Previous</span>'
		};
		html = html + '<span class="btn btn-xs btn-default" onClick="nextFunc()">Next</span>';
		$(".btn-group").html(html);
	};
	
	var nextFunc = function () {
		page = JSON.parse(localStorage.nextPage);
		localStorage.nextPage = page + 1;
		localStorage.previousPage = page - 1;
		update_mahasiswa(page);
		update_pagination();
	};
	
	var prevFunc = function () {
		page = JSON.parse(localStorage.previousPage);
		localStorage.nextPage = page + 1;
		localStorage.previousPage = page - 1;
		update_mahasiswa(page);
		update_pagination();
	};
	
    $("#add-friend").on("submit", function () {
       name = $("#field_name").val()
       npm = $("#field_npm").val()
        addFriend(name, npm)
        event.preventDefault();
    });
	
    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });
</script>
{% endblock %}
